:host {
    display: block;
}

.b2b-checkout__section {
    padding: 0px 50px 25px 50px;
}

@media(max-width: 574.98px) {
    .b2b-checkout__section {
        padding-left: 24px;
        padding-right: 24px;
    }
}

.b2b-billing-title__padding {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* VIEW */
.b2b-checkout-addresses__view-name {
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 1.214;
    font-weight: 700;
    word-wrap: break-word;
    color: #231F20;
}

.b2b-checkout-addresses__view-address {
    font-size: 14px;
    line-height: 1.214;
    word-wrap: break-word;
}

.b2b-checkout-addresses__view-address + .b2b-checkout-addresses__view-address {
    margin-top: 10px;
}

.b2b-checkout-addresses__view-address + .b2b-checkout-addresses__view-name {
    margin-top: 4px;
}

/* CHANGE */
.b2b-checkout-addresses__change .b2b-checkout__tabs {
    transform: translateY(-10px);
}

@media(max-width: 1199.98px) {
    .b2b-checkout-addresses__change .b2b-checkout__tabs {
        margin-bottom: 1rem;
        transform: translateY(0);
    }
}

.b2b-checkout-addresses__change .b2b-checkout-addresses__address-name {
    font-weight: 700;
    line-height: 1.3;
    color: #231F20;
}

.b2b-checkout-addresses__change .b2b-checkout-addresses__address-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.b2b-checkout-addresses__change .b2b-checkout-addresses__address-name + .b2b-checkout-addresses__address-content {
    margin-top: 4px;
}

.b2b-checkout-addresses__change .b2b-checkout-addresses__address-address {
    line-height: 1.3;
    color: var(--b2b-colorText);
}

.b2b-checkout-addresses__change .b2b-checkout-addresses__address-address + lightning-button-icon {
    margin-left: 0.5rem;
}

/* FORM */
.b2b-guest-checkout__section-form .b2b-row {
    --b2b-theme-contentHorizontalPaddings: 15px;
}

.b2b-checkout__section-form .b2b-col {
    width: 50%;
    padding-bottom: 12px;
}

@media(max-width: 767.98px) {
    .b2b-checkout__section-form .b2b-col {
        width: 100%;
    }
}

.b2b-checkout__section-form .b2b-col:last-child {
    padding-bottom: 0;
}

.b2b-checkout__section-form .b2b-col-full {
    width: 100%;
}

.b2b-checkout-addresses__col-default-address {
    padding-top: 8px;
    padding-bottom: 32px !important;
}

.b2b-checkout__billing_address,
.b2b-checkout__shipping_address {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #231F20;
}

.b2b-checkout__billing_address:hover,
.b2b-checkout__shipping_address:hover {
    color: #231F20;
    cursor: default;
}

.b2b-checkout__shipping_address {
    padding-top: 0;
}

.b2b-address-sub-title {
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #231F20;
}