:host {
    display: block;
    margin-bottom: 1rem;
}

a {
    font-size: 14px;
    font-weight: 700;
    font-family: 'Poppins';
    line-height: 38px;
}

a[data-disabled="true"] {
    font-size: 14px;
    font-weight: 700;
    line-height: 38px;
    pointer-events: none;
    background-color: rgb(217, 215, 213);
    border-color: rgb(217, 215, 213);
}