lightning-button.nxtbtn{
    --sds-c-button-shadow-focus: 0 1 3px black;
    --sds-c-button-brand-color-background : #6D67E4;
    --sds-c-button-text-color: #f4f7f9;
    font-size:large;
 }

 .bgcolor{
    
    
    color:black;
    
    
}
.tblColPad{
    border:2px solid grey;
} 
 .PriceCss{
    font-weight: bolder;

 }   

    

.iconColor {
    --slds-c-icon-color-foreground: white;
    --slds-c-icon-color-background: #6D67E4;
   
}